* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
  background-color: black;
}

.Container {
  display: flex;
}

.Mario {
  position: absolute;
  background-image: url(./mario_bross_game.png);
  background-size: 90px 130px;
  width: 90px;
  height: 130px;
  margin-left: 10px;
  margin-top: 30px;
}

.Fondo {
  background-image: url(./mario_bross.jpg);
  width: calc(100% - 300px);
  height: 800px;
  background-size: 100% 100%;
  margin: 0 auto;
}

.Init-game {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-family: 'Press Start 2P', 'VT323';
  color: white;
}

.Score {
}

.Coins {
  display: flex;
  width: auto;
  height: 50px;
}

.Img_coin {
  background-image: url(./coin.png);
  background-size: 100%;
  width: 30px;
  height: 30px;
}

.Coin {
  margin-top: 12px;
}

.World {
  height: 50px;
}

.World div:last-of-type {
  text-align: center;
}

.Time {
  width: 50px;
  height: 50px;
}

.Time div:first-of-type {
  text-align: center;
  width: 80px;
}

/*
  this is the font family that you need to use: font-family: 'Press Start 2P', cursive;
*/